# Gradle
.gradle/
build/
**/build/

# Gradle wrapper jars
gradle/wrapper/gradle-wrapper.jar

# IDE
/.idea/
/.vscode/
*.iml

# Kotlin/Java
/out/
*.class

# OS
.DS_Store

# JARs / distributions / artifacts
*.jar
app/build/
app/buildlibs/
app/distributions/
app/*.zip
app/*.tar
app/bin/
bin/

# logs
*.log

# user-specific
local.properties